/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Noto%20Color%20Emoji&weight=400");

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.main div {
    background: rgb(var(--background-rgb));
    padding: 4vw;
    border: rgb(var(--background-rgb));
    border-radius: 4vw;
    box-shadow: black 4px 4px 4px inset;
    min-width: 50vw;
    min-height: 50vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .main div {
        width: 100%
    }
}

@media screen and (max-width: 400px) {
    .main div {
        width: 100%;
        height: 100%
    }
}

.emoji {
    font-family: "Noto Color Emoji", Arial, sans-serif;
}
